*.html
__pycache__/
*.log
!fortune500_tickers.csv
.env
.DS_Store
.vscode/
.idea/
*.pyc
cache/
!src/highest_volatility/cache/
.cache/
src/.cache/
mypy.ini
dist/
build/
src/highest_volatility.egg-info/*
!src/highest_volatility.egg-info/PKG-INFO

